---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>ASTRO</title>
  </head>

  <body class="body__container">
    <BaseLayout>
      <main>

        <section class="section__about">
          <h1 class="line-decoration-2">About / O Mnie</h1>
          <img id="section__about-image" src="/image-about.jpg" />
          <!-- <p>
						<a><u>Click for English</u></a>
					</p> -->
          <a href="#text-polish" class="line-decoration-3"
            >Scroll to Polish version</a
          >
          <div id="text-english" class="add-mt">
            <p>
              I'm a photographer who is currently based in Warsaw, but open to
              work in Poland and abroad.
            </p>
            <p>
              For many years I've worked on documenting all kinds of events:
              family, cultural, business, sports. As a photographer, my first
              fascination was street photography, then I've worked for a couple
              of years for press as a photojournalist. These experiences allowed
              me to take on my path as a freelancer with a feeling that I'm good
              at what I do.
            </p>
            <p>
              Lately I'm focused on wedding and event photography, as well as
              portraiture, but I'm open to any and all challenges.
            </p>
            <p>I photograph people, animals, spaces and items.</p>
            <p>
              You can find some of my creations in the different sections of
              this website.
            </p>
            <p>
              I share my everyday images on<br />
              <span class="line-decoration-3"
                ><a
                  href="https://instagram.com/jac_smoter"
                  target="_blank"
                  referrerpolicy="no-referrer">my instagram (link)</a
                ></span
              >.
            </p>
            <p>
              You can reach me by email at:
              <span class="line-decoration-3" id="contact__info"
                ><a
                  href="mailto:jac.smoter@gmail.com"
                  target="_blank"
                  referrerpolicy="no-referrer">jac.smoter@gmail.com</a
                ></span
              >
              and via phone at
              <span class="line-decoration-3">(+48)603633655</span>
            </p>
          </div>
          <span class="section__about-link-separator">//</span>
          <div id="text-polish" class="add-mt">
            <p>
              Fotograf, obecnie w Warszawie. Poza tym – w całej Polsce i nie
              tylko.
            </p>
            <p>
              Od wielu lat zajmuję się dokumentacją wszelkiego rodzaju wydarzeń:
              rodzinnych, kulturalnych, firmowych, sportowych. Kontakt z
              fotografią zacząłem od zdjęć ulicznych, kilka lat spędziłem
              zajmując się fotografią prasową i reportażową. Te doświadczenia
              pozwoliły mi rozpocząć pracę na własną rękę z przekonaniem, że
              robię dobrze to, za co się zabieram.
            </p>
            <p>
              Ostatnimi czasy główne obszary mojej działalności to fotografia
              ślubna, eventowa i portretowa, ale jestem otwarty na wszelkie
              wyzwania.
            </p>
            <p>Uwieczniam ludzi, zwierzęta, przestrzenie i przedmioty.</p>
            <p>
              Przykładowe realizacje możesz zobaczyć w poszczególnych zakładkach
              tej strony.
            </p>
            <p>
              Tworzone na co dzień obrazki pokazuję na<br />
              <span class="line-decoration-3"
                ><a
                  href="https://instagram.com/jac_smoter"
                  target="_blank"
                  referrerpolicy="no-referrer">instagramie (link)</a
                ></span
              >.
            </p>
            <p>
              Dostępny pod adresem:
              <span class="line-decoration-3" id="contact__info"
                ><a
                  href="mailto:jac.smoter@gmail.com"
                  target="_blank"
                  referrerpolicy="no-referrer">jac.smoter@gmail.com</a
                ></span
              >
              i pod numerem telefonu
              <span class="line-decoration-3">603633655</span>
            </p>
          </div>
        </section>
      </main>
    </BaseLayout>
  </body>
</html>
