---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import About from "../components/About.astro";
---

<BaseLayout>
  <div class="body__container">
    <About />
  </div>
</BaseLayout>
