---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="image__container">
    <img src="/kamchatka/DSCF6733.jpg" loading="lazy" />
    <img src="/kamchatka/DSCF6740.jpg" loading="lazy" />
    <img src="/kamchatka/DSCF6748.jpg" loading="lazy" />
    <img src="/kamchatka/DSCF6758.jpg" loading="lazy" />
    <img src="/kamchatka/DSCF6770.jpg" loading="lazy" />
    <img src="/kamchatka/DSCF6774.jpg" loading="lazy" />
    <img src="/kamchatka/DSCF6786.jpg" loading="lazy" />
    <img src="/kamchatka/DSCF6803.jpg" loading="lazy" />
    <img src="/kamchatka/DSCF6824.jpg" loading="lazy" />
    <img src="/kamchatka/DSCF6838.jpg" loading="lazy" />
    <img src="/kamchatka/DSCF6848.jpg" loading="lazy" />
    <img src="/kamchatka/DSCF6851.jpg" loading="lazy" />
    <img src="/kamchatka/DSCF6863.jpg" loading="lazy" />
    <img src="/kamchatka/DSCF6870.jpg" loading="lazy" />
  </div>
</BaseLayout>
