---
import "../styles/global.css";
---

<header class="">
  <h1 class="line-decoration-1" id="header__title">
    <a href="/">Jacek Smoter</a>
  </h1>

  <nav class="">
    <input type="checkbox" id="mobile__menu-input" />
    <label id="mobile__menu" for="mobile__menu-input">
      <span class="hamburger"></span></label
    >
    <ul class="header__nav-list">
      <li>
        <h2>
          <a href="gallery-weddingIM.html">Wedding / Ślub | Iga & Maciek</a>
        </h2>
      </li>
      <li>
        <h2>
          <a href="gallery-voguing.html">Voguing | Carnival Kiki Ball</a>
        </h2>
      </li>
      <li>
        <h2>
          <a href="/galleries/kamchatka/"> Theater / Teatr | Kamchàtka</a>
        </h2>
      </li>
      <li>
        <h2><a href="gallery-theater.html">Theater / Teatr</a></h2>
      </li>
      <li>
        <h2>
          <a href="gallery-interior.html">Interior / Wnętrza</a>
        </h2>
      </li>
      <li>
        <h2>
          <a href="gallery-wedding.html">Wedding / Ślub</a>
        </h2>
      </li>
      <li>
        <h2>
          <a href="/galleries/people">Portraits / Portrety</a>
        </h2>
      </li>
      <li></li>
    </ul>
  </nav>
</header>
