---
import "../styles/global.css";
import Navigation from "./Navigation.astro";
---

<header class="">
  <h1 class="line-decoration-1" id="header__title">
    <a href="/">Jacek Smoter</a>
  </h1>
  <Navigation client:load />
</header>
